@font-face {
    font-family: 'Recursive';
    src: url(./recursive.woff2) format('woff2');
  }
  
  
  .testimonial {
    font-family: "Recursive";
    font-variation-settings: "wght" 100;
    font-size: 2.5rem;
    line-height: 1.3em;
    
  }
  span.fontbeam {
    transition: 256ms;
    height: 1em;
    display: inline-block;
  }